{
  "openapi": "3.0.0",
  "info": {
    "title": "USPTO Patent Search API",
    "version": "1.0.0",
    "description": "USPTO Open Data Portal Patent Search API"
  },
  "servers": [
    {
      "url": "https://api.uspto.gov/api/v1",
      "description": "USPTO Open Data Portal API"
    }
  ],
  "paths": {
    "/patent/applications/search": {
      "get": {
        "summary": "Search patents using simplified syntax",
        "operationId": "searchPatentsSimple",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Search query (e.g., 'artificial intelligence')"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {"type": "integer", "default": 0},
            "description": "Pagination offset"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 25, "maximum": 100},
            "description": "Number of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Patent search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patentFileWrapperDataBag": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationNumberText": {"type": "string"},
                          "applicationMetaData": {
                            "type": "object",
                            "properties": {
                              "inventionTitle": {"type": "string"},
                              "filingDate": {"type": "string"},
                              "publicationDate": {"type": "string"},
                              "applicantBag": {
                                "type": "array",
                                "items": {"type": "object"}
                              },
                              "inventorBag": {
                                "type": "array", 
                                "items": {"type": "object"}
                              },
                              "assigneeBag": {
                                "type": "array",
                                "items": {"type": "object"}
                              },
                              "applicationStatusDescriptionText": {"type": "string"}
                            }
                          }
                        }
                      }
                    },
                    "totalHits": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Search patents using advanced syntax",
        "operationId": "searchPatentsAdvanced",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {"type": "string"},
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {"type": "string"},
                        "value": {
                          "type": "array", 
                          "items": {"type": "string"}
                        }
                      }
                    }
                  },
                  "rangeFilters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {"type": "string"},
                        "valueFrom": {"type": "string"},
                        "valueTo": {"type": "string"}
                      }
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "offset": {"type": "integer", "default": 0},
                      "limit": {"type": "integer", "default": 25}
                    }
                  },
                  "sort": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {"type": "string"},
                        "order": {"type": "string", "enum": ["Asc", "Desc"]}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patent search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patentFileWrapperDataBag": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationNumberText": {"type": "string"},
                          "applicationMetaData": {
                            "type": "object",
                            "properties": {
                              "inventionTitle": {"type": "string"},
                              "filingDate": {"type": "string"},
                              "publicationDate": {"type": "string"},
                              "applicantBag": {
                                "type": "array",
                                "items": {"type": "object"}
                              },
                              "inventorBag": {
                                "type": "array",
                                "items": {"type": "object"}
                              },
                              "assigneeBag": {
                                "type": "array", 
                                "items": {"type": "object"}
                              },
                              "applicationStatusDescriptionText": {"type": "string"}
                            }
                          }
                        }
                      }
                    },
                    "totalHits": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [{"ApiKeyAuth": []}]
}
